<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <header class="bg-white shadow-sm">
      <div class="container mx-auto px-4 py-4 flex items-center space-x-4">
        <%= image_tag 'loadar.jpg', alt: 'logo', name: 'LOADAR', class: 'w-12 h-12' %>

        <h1 class="text-2xl font-bold tracking-wide">LOADAR</h1>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
